@charset "UTF-8";

* {
  box-sizing: border-box;
}
/* TAB ver */

@media screen and( max-width: 1199px) {
  .inner {
    width: 100%;
  }
  .iphone {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;

  }
  .clear {
    clear: left;
  }
}













/* SP :ver */

@media (max-width: 767px) {
  .header-botton {
    display: none;
  }
  .menu-icon {
    display: block;
  }
}