@charset "UTF-8";

* {
  box-sizing: border-box;
}
/* TAB ver */

@media screen and( max-width: 1199px) {
  .inner {
    width: 100%;
  }
  .iphone {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;

  }
 
}














/* SP :ver */

@media screen and (max-width: 767px) {
  .inner {
    width: 100%;
  }

  .header-botton {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  
  .menu-icon {
  color: #f2f2f2;
  float: right;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  padding: 10px;
  }
}