@charset "UTF-8";
* {
  box-sizing: border-box;
}

.inner {
  width: 100%;
  /* width: 1100px; */
  margin: 0 auto;
}
a {
  display: inline-block;
  text-decoration: none;
}
.clearfix:after {
  content:"";
  display: block;
  clear: both;
}
body {
  font-family: Lato;
}
.theme-font {
 font-family: Raleway;
}

/* ここからヘッター */
.header {
  background-color: #fff;
  position: sticky;
  top: 0;
  padding: 15px 0;
  position: left;
  width: 100%;
}
.inazuma {
  float: left;
}
.icon-size {
  font-size: 40px;
}
.header-botton {
  background-color: #74cfae;
  color:#fff;
  font-size: 12px;
  padding: 14px 12px;
  float: right;
  transition: 0.3s;;
}
.header-botton:hover {
  color: #333;
}
.title {
  background-color: #f2f2f2;
  padding: 250px 0;
}
.theme {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
 text-align: center;
}
.free {
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  color: #c0c0c0;
}


.menu-icon {
  color: white;
  float: right;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  display: none;
  
}

/* ここから緑の部分 */
.what {
  background-color: #74cfae;
  padding-top: 50px;
}
.iphone {
  width: 38%;
 float: left;
 text-align: center;
}
.text-side{
  width: 62%;
  color: #fff;
  float: left;
  text-align: center;
}
.cando {
  font-size: 24px;
  text-align: center;
}
.lorem {
  margin-top: 35px;
  font-size:20px;
  text-align: center;
}
/* ここから画像の部分 */
.latest {
  background-color: #f2f2f2;
  padding: 60px 0 70px 0;
}
.work {
  text-align: center;
  font-size: 24px;
  color: #333;
}

.photo-list {
  margin-top: 80px;
  margin-left: 100px;
  opacity: 0.7;
  transition: 0.3s;
}
.photo-list:hover {
  opacity: 1;
}
.photo-list:nth-child(3n+1) {
  margin-left: 0;
}
.photo-list:nth-child(-n+3){
  margin-top: 0;
}
.photo {
  display: flex;
  flex-wrap: wrap;
}
.two_set {
  margin: 90px 90px 0 90px;
  text-align: center;
}
.textline {
  color: #333;
  float: left;
  text-align: center;
}
.mail_botton {
  font-size: 12px;
  padding: 14px 20px;
  color: #fff;
  background-color: #74cfae;
  transition: 0.3s;
}
.mail_botton:hover{
  color: #333;

}

/* ここからサークルの部分 */
.skills {
  background-color: #4e4e4e;
  padding-top: 70px;
  padding-bottom: 100px;
}
.our {
  margin-bottom: 70px;
  font-size: 24px;
  text-align: center;
  color: #fff
}
.circle-only {
  margin-left: 180px;
  display: block;
  text-align: center;
  color: #fff;
}
.circle-only:first-child {
  margin-left: 0;
}
.set {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.ex {
  padding-left: 180px;
  font-size: 16px;
}

/* ここからSNSの部分 */
.sns {
  background-color: #f2f2f2;
  padding: 200px 0;
}
.sns-inner {
  text-align: center;
}
.icon a{
  width: 185px;
  color: #74cfae;
  font-size: 40px;
  padding: 25px 0;
  width: 185px;
  transition: 0.3s;
}
.icon a:hover {
  background-color: #fff;
}
a .icon-link {
  color: #74cfae;
  font-size: 40px;
  padding: 25px 0;
  width: 185px;
  transition: 0.3s;
}
.icon-sns {
  color: #74cfae;
}
.icon-all {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

/* ここからフッター */
.footer {
  background-color: #74cfae;
  padding: 20px 0 25px 0;
}
.by-name {
  color: #fff;
  float: right;
}