@charset "UTF-8";

.inner {
  width: 1100px;
  margin: 0 auto;
}
a {
  display: inline-block;
  text-decoration: none;
}
.clearfix:after {
  content:"";
  display: block;
  clear: both;
}
body {
  font-family: Lato;
}
.font {
 font-family: Raleway;
}

/* ここからヘッター */
.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px 0;
  width: 100%;
  z-index: 100;
}
.inazuma {
  float: left;
}
.icon-size {
  font-size: 40px;
}
.header-botton {
  background-color: #74cfae;
  color:#fff;
  font-size: 12px;
  padding: 14px 12px;
  float: right;
  transition: 0.3s;;
}
.header-botton:hover {
  color: #333;
}
.title {
  background-color: #f2f2f2;
  padding: 250px 0;
}

.theme {
  padding-top: 70px;
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
 text-align: center;
}
.free {
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  color: #c0c0c0;
}

/* ここから緑の部分 */
.what {
  background-color: #74cfae;
  padding-top: 50px;
}
.iphone {
  width: 38%;
 float: left;
 text-align: center;
}
.nogap {
  vertical-align: bottom;
}
.text-side{
  width: 62%;
  color: #fff;
  float: left;
  text-align: center;
}
.cando {
  font-size: 24px;
  text-align: center;
}
.lorem {
  margin-top: 35px;
  font-size:20px;
  text-align: center;
}

/* ここから画像の部分 */
.latest {
  background-color: #f2f2f2;
  padding: 60px 0 70px 0;
}
.work {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 40px;
  /* padding: 60px 0 40px 0; */
}
.photo-list {
  margin-top: 80px;
  margin-left: 100px;
  opacity: 0.7;
  transition: 0.3s;
}
.photo-list:hover {
  opacity: 1;
}
.photo-list:nth-child(3n+1) {
  margin-left: 0;
}
.photo-list:nth-child(-n+3){
  margin-top: 0;
}
.photo {
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 40px; */
}
.two_set {
  margin: 90px 90px 0 90px;
  text-align: center;
}
.textline {
  color: #333;
  float: left;
  /* margin: 90px 90px 70px 90px; */
  text-align: center;
}
.mail_botton {
  /* margin-left: 90px; */
  font-size: 12px;
  /* margin: 90px 90px 70px 0; */
  padding: 14px 20px;
  color: #fff;
  background-color: #74cfae;
  transition: 0.3s;
}
.mail_botton:hover{
  color: #333;

}

/* ここからサークルの部分 */
.skills {
  background-color: #4e4e4e;
  padding-top: 70px;
  padding-bottom: 100px;
}
.our {
  margin-bottom: 70px;
  font-size: 24px;
  text-align: center;
  color: #fff
}
.circle-only {
  margin-left: 180px;
  display: inline-block;
  color: #fff;
  /* display: flex; */
}
.circle-only:first-child {
  margin-left: 0;
}

.set {
  text-align: center;
}
.ex {
  font-size: 16px;
}

/* ここからSNSの部分 */
.sns {
  background-color: #f2f2f2;
  padding: 200px 0;
}
.sns-inner {
  text-align: center;
}
.icon {
  width: 185px;
  color: #74cfae;
  font-size: 40px;
  transition: 0.3s;
}
.icon :hover {
  background-color: #fff;
}
.icon-link {
  color: #74cfae;
  padding: 25px 0;
  width: 100%;
  transition: 0.3s;
}
.icon-sns {
  color: #74cfae;
}
.icon-all {
  justify-content: center;
  display: flex;
  /* flex-wrap: wrap; */
}

/* ここからフッター */
.footer {
  background-color: #74cfae;
  padding: 20px 0 25px 0;
}
.by-name {
  color: #fff;
  text-align: right;
}




.menu-icon {
  color: #ddd;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  float: right;
  display: none;
}


/* TABver */
@media screen and ( max-width: 1199px) {
  .inner {
    width: 90%;
  }

  /* green-space */
  .iphone {
    width: 100%;
  }
  .text-side {
    width: 100%;
    margin: 20px 0 25px 0;
  }

  /* photo-space */
  .photo-list {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .photo-list:nth-child(3n+1) {
    margin-top: 80px;
  }
  .photo-list:nth-child(-n+3) {
    margin-top: 0;
  }

  .two_set {
    margin-top: 80px;
  }
  .textline {
    float: none;
  }
  .mail_botton {
    margin-top: 40px;
  }

  /* circle-space */
  .circle-only {
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 88px;
  }
  .circle-only:first-child {
    margin-top: 0;
  }
}


/* SPver */
@media screen and (max-width: 767px) {
  .inner {
    width: 90%;
  }
  
  /* header-space */
  .header-botton {
    display: none;
  }
  .menu-icon {
    display: block;
  }

  /* title-space */
  .title {
    padding: 160px 0 130px 0;
  }
  .theme-font {
    font-size: 80px;
  }
  .free {
    margin-top: 20px;
    font-size: 30px;
  }

  /* green-space */
  .iphone {
    width: 100%;
    clear: left;
  }

  /* photo-space */
  .photo {
    text-align: center;
    display: block;
  }
  .photo-list {
    margin: 0;
  }
  .textline br {
    display: none;
  }

  /* SNS-space */
  .sns {
    padding: 50px 15px;
  }

  .icon-all {
    display: block;
  }

  .icon {
    width: 100%;
    margin: 0 auto;
  }

}